.elementor-5177 .elementor-element.elementor-element-8cffaeb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-5177 .elementor-element.elementor-element-8cffaeb > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-5177 .elementor-element.elementor-element-8cffaeb > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5177 .elementor-element.elementor-element-10c5320 img{width:100%;height:436px;object-fit:cover;}.elementor-5177 .elementor-element.elementor-element-10c5320 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.ee-tooltip.ee-tooltip-10c5320.to--top,
							 .ee-tooltip.ee-tooltip-10c5320.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-10c5320.to--left,
							 .ee-tooltip.ee-tooltip-10c5320.to--right{margin-top:0px;}.elementor-5177 .elementor-element.elementor-element-7c653cb:not(.elementor-motion-effects-element-type-background), .elementor-5177 .elementor-element.elementor-element-7c653cb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-5177 .elementor-element.elementor-element-7c653cb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:16px 24px 24px 24px;}.elementor-5177 .elementor-element.elementor-element-7c653cb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5177 .elementor-element.elementor-element-f01ac8b{text-align:center;}.elementor-5177 .elementor-element.elementor-element-f01ac8b .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:64px;font-weight:700;text-transform:uppercase;}.elementor-5177 .elementor-element.elementor-element-e57a2d8{text-align:center;}.elementor-5177 .elementor-element.elementor-element-e57a2d8 .elementor-heading-title{color:#FFFFFF;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:400;line-height:1.4em;}.elementor-5177 .elementor-element.elementor-element-f0fe53c .elementor-button{font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:600;text-transform:uppercase;line-height:1.5em;fill:#FFFFFF;color:#FFFFFF;background-color:#00000000;padding:0px 0px 4px 0px;}.elementor-5177 .elementor-element.elementor-element-f0fe53c > .elementor-widget-container{background-image:url("https://men.ologybynature.com/wp-content/uploads/2022/09/Untitled.png");background-position:bottom center;background-repeat:no-repeat;background-size:contain;}.elementor-5177 .elementor-element.elementor-element-f0fe53c.bdt-background-overlay-yes > .elementor-widget-container:before{transition:background 0.3s;}/* Start custom CSS for image, class: .elementor-element-10c5320 *//*.elementor-5177 .elementor-element.elementor-element-10c5320 img{*/
/*    height: calc(100vh - 100px)!important;*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f01ac8b */.elementor-5177 .elementor-element.elementor-element-f01ac8b .t-outline-second {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #046D2F;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #000;
}

.elementor-5177 .elementor-element.elementor-element-f01ac8b .t-outline::before {
    animation: unset !important;
    color: #046D2F !important;
}
/*@media only screen and (max-width: 500px){*/
/*.elementor-5177 .elementor-element.elementor-element-f01ac8b .t-outline-second {*/
/*    -webkit-text-stroke-width: 1px;*/
/*    -webkit-text-stroke-color: #fff;*/
/*    font-size: 46px;*/
/*    line-height: 46px;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-f0fe53c *//*.elementor-5177 .elementor-element.elementor-element-f0fe53c:hover .elementor-widget-container {*/
/*    background-image: url(https://men.ologybynature.com/wp-content/uploads/2022/09/Untitled.png);*/
/*    background-position: bottom center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*}*/
/*.elementor-5177 .elementor-element.elementor-element-f0fe53c .elementor-widget-container{*/
/*    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;*/
/*}*//* End custom CSS */