.elementor-484 .elementor-element.elementor-element-66ff00f.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-484 .elementor-element.elementor-element-66ff00f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:16px;}.elementor-484 .elementor-element.elementor-element-5660d9a img{width:100%;height:394px;object-fit:cover;border-radius:0px 0px 0px 0px;}.elementor-484 .elementor-element.elementor-element-5660d9a > .elementor-widget-container{padding:30px 0px 0px 0px;}.ee-tooltip.ee-tooltip-5660d9a.to--top,
							 .ee-tooltip.ee-tooltip-5660d9a.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-5660d9a.to--left,
							 .ee-tooltip.ee-tooltip-5660d9a.to--right{margin-top:0px;}.elementor-484 .elementor-element.elementor-element-eed41fd:not(.elementor-motion-effects-element-type-background), .elementor-484 .elementor-element.elementor-element-eed41fd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-484 .elementor-element.elementor-element-eed41fd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:14px 14px 14px 14px;}.elementor-484 .elementor-element.elementor-element-eed41fd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-484 .elementor-element.elementor-element-af63cc3 .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:700;line-height:1.5em;}.elementor-484 .elementor-element.elementor-element-104a403 .elementor-button{font-family:"TT Commons", Sans-serif;font-size:19px;font-weight:600;text-transform:uppercase;fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:#FFFFFF;border-radius:0px 0px 0px 0px;padding:16px 23px 16px 23px;}.elementor-484 .elementor-element.elementor-element-104a403 .elementor-button:hover, .elementor-484 .elementor-element.elementor-element-104a403 .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-primary );}.elementor-484 .elementor-element.elementor-element-104a403 .elementor-button:hover svg, .elementor-484 .elementor-element.elementor-element-104a403 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-484 .elementor-element.elementor-element-0f6c175 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-484 .elementor-element.elementor-element-0f6c175:not(.elementor-motion-effects-element-type-background), .elementor-484 .elementor-element.elementor-element-0f6c175 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-secondary );}.elementor-484 .elementor-element.elementor-element-0f6c175{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:8px 8px 8px 8px;}.elementor-484 .elementor-element.elementor-element-0f6c175 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-484 .elementor-element.elementor-element-5a0ff5e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-484 .elementor-element.elementor-element-0e7c010{text-align:center;}.elementor-484 .elementor-element.elementor-element-0e7c010 .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:700;text-transform:uppercase;}.elementor-484 .elementor-element.elementor-element-d88955a{text-align:center;}.elementor-484 .elementor-element.elementor-element-d88955a .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:700;text-transform:uppercase;}/* Start custom CSS for theme-post-featured-image, class: .elementor-element-5660d9a */.elementor-484 .elementor-element.elementor-element-5660d9a img{
    -webkit-clip-path: polygon(5% 0, 80% 0%, 100% 0, 100% 95%, 95% 100%, 20% 100%, 0 100%, 0 5%);
    clip-path: polygon(5% 0, 80% 0%, 100% 0, 100% 95%, 95% 100%, 20% 100%, 0 100%, 0 5%);
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-af63cc3 */.elementor-484 .elementor-element.elementor-element-af63cc3{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-eed41fd */.elementor-484 .elementor-element.elementor-element-eed41fd {
    -webkit-clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 92%, 96% 100%, 20% 100%, 0 100%, 0 8%);
    clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 92%, 96% 100%, 20% 100%, 0 100%, 0 8%);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0f6c175 */.elementor-484 .elementor-element.elementor-element-0f6c175{
    position: absolute;
    width: auto;
    right: 5%;
}/* End custom CSS */