.elementor-6628 .elementor-element.elementor-element-a4fbc0a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:0px;}.elementor-6628 .elementor-element.elementor-element-a4fbc0a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-6628 .elementor-element.elementor-element-0a99f94{text-align:center;}.elementor-6628 .elementor-element.elementor-element-0a99f94 .elementor-heading-title{font-family:"TT Commons", Sans-serif;font-size:42px;font-weight:600;line-height:50px;}.elementor-6628 .elementor-element.elementor-element-659b9b6{text-align:center;}.elementor-6628 .elementor-element.elementor-element-659b9b6 .elementor-heading-title{color:#707070;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:400;line-height:26px;}.elementor-6628 .elementor-element.elementor-element-cfe8692{text-align:right;width:auto;max-width:auto;}.elementor-6628 .elementor-element.elementor-element-cfe8692 .elementor-heading-title{color:#494949;font-family:"TT Commons", Sans-serif;font-size:18px;font-weight:500;line-height:21px;}.elementor-6628 .elementor-element.elementor-element-206b60c .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"TT Commons", Sans-serif;font-size:18px;font-weight:700;line-height:21px;}.elementor-6628 .elementor-element.elementor-element-206b60c{width:auto;max-width:auto;}.elementor-6628 .elementor-element.elementor-element-0c0c173 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-6628 .elementor-element.elementor-element-87d4467.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-6628 .elementor-element.elementor-element-87d4467.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-6628 .elementor-element.elementor-element-87d4467 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-6628 .elementor-element.elementor-element-87d4467 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-6628 .elementor-element.elementor-element-fa38cb8{text-align:center;}.elementor-6628 .elementor-element.elementor-element-fa38cb8 .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:48px;font-weight:600;line-height:57px;}.elementor-6628 .elementor-element.elementor-element-a742cf9{text-align:center;}.elementor-6628 .elementor-element.elementor-element-a742cf9 .elementor-heading-title{color:#FFFFFF;font-family:"TT Commons", Sans-serif;font-size:18px;font-weight:400;line-height:22px;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-6628 .elementor-element.elementor-element-a4fbc0a{margin-top:0px;margin-bottom:0px;}.elementor-6628 .elementor-element.elementor-element-0a99f94 .elementor-heading-title{font-size:28px;line-height:33px;}.elementor-6628 .elementor-element.elementor-element-659b9b6 .elementor-heading-title{font-size:14px;line-height:21px;}.elementor-6628 .elementor-element.elementor-element-fa38cb8 .elementor-heading-title{font-size:32px;line-height:38px;}.elementor-6628 .elementor-element.elementor-element-a742cf9 .elementor-heading-title{font-size:14px;line-height:16px;}}/* Start custom CSS for heading, class: .elementor-element-0a99f94 */@media(max-width:767px){
    .elementor-6628 .elementor-element.elementor-element-0a99f94 h2{
        font-size:28px!important;
        line-height:33px;
    }
    
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-659b9b6 */@media(max-width:767px){
    .elementor-6628 .elementor-element.elementor-element-659b9b6 p{
        font-size:14px!important;
        line-height:17px!important
    }
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-02d56b8 */.elementor-6628 .elementor-element.elementor-element-02d56b8 input{
    width:100%;
    max-width:100%!important;
    border-radius:8px!important;
    height:60px!important;
    font-family: TT Commons!important;
font-size: 20px!important;
font-weight: 400;
line-height: 24px!important;
letter-spacing: 0em;


}
.elementor-6628 .elementor-element.elementor-element-02d56b8 button{
    width:100%;
    padding:0!important;
    height:52px;
    line-height: 52px!important;
    font-family: TT Commons!important;
font-size: 20px!important;
font-weight: 700!important;
color: #fff!important;
letter-spacing: 0em;
text-align: center;
border-radius:8px!important;

}
.elementor-6628 .elementor-element.elementor-element-02d56b8 label{
    display: none;
}
.elementor-6628 .elementor-element.elementor-element-02d56b8 .wpforms-field {
    padding:0!important;

}
.elementor-6628 .elementor-element.elementor-element-02d56b8 .wpforms-submit-container{
    padding:0!important;
     margin-top:50px!important;

}
.elementor-6628 .elementor-element.elementor-element-02d56b8 .wpforms-field-text + div{
    margin-top:24px;
}
.elementor-6628 .elementor-element.elementor-element-02d56b8 button{
    box-shadow: 0px 2px 50px 0px #046D2F0D;
background: #046D2F!important;
}
  .elementor-6628 .elementor-element.elementor-element-02d56b8 .wpforms-error-container a{
      display: none;
  }
 @media(max-width:767px){
     .elementor-6628 .elementor-element.elementor-element-02d56b8 input{
         height:45px!important;
         font-size:14px!important;
         line-height:16px!important;
     }
     .elementor-6628 .elementor-element.elementor-element-02d56b8 .wpforms-field-text + div{
         margin-top:8px!important;
     }
     .elementor-6628 .elementor-element.elementor-element-02d56b8 button{
         box-shadow: 0px 2px 50px 0px #EE5A8A40;
    font-size:16px!important;
    height:43px!important;
    line-height:43px!important;
     }
     .wpforms-container {
         margin-bottom:0!important;
     }
   
 }/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cfe8692 */@media(max-width:767px){
    .elementor-6628 .elementor-element.elementor-element-cfe8692{
        position:absolute;
        bottom:calc(20% + 60px);
        right:0;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-206b60c */.elementor-6628 .elementor-element.elementor-element-206b60c p::before{
    content:"Bạn chưa có tài khoản?";
    font-family: TT Commons;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color:#707070;

}
.elementor-6628 .elementor-element.elementor-element-206b60c a{
    font-family: TT Commons;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color:#046D2F!important;
margin-left:8px;
text-decoration: underline;

}
.elementor-6628 .elementor-element.elementor-element-206b60c{
    margin-left:auto;
}
@media(max-width:1023px){
    .elementor-6628 .elementor-element.elementor-element-206b60c p::before{
        font-size:16px!important;
        font-weight:400;
        line-height:19px;
        margin-right:10px;
        display:none;
    }
    .elementor-6628 .elementor-element.elementor-element-206b60c a{
        
        color:#046D2F!important;
        display:block;
        text-align:center;
        border: 1px solid #046D2F;
        text-decoration:none;
        height:43px;
        line-height:40px!important;
        border-radius:8px;
    }
    .elementor-6628 .elementor-element.elementor-element-206b60c{
        
        width:100%!important;
}
.elementor-6628 .elementor-element.elementor-element-206b60c span{
    display:none;
}
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-0c0c173 */.elementor-6628 .elementor-element.elementor-element-0c0c173 .nsl-container-buttons{
    grid-template-columns:repeat(2,1fr)!important;
    gap:33px;
    width:100%;
}
.elementor-6628 .elementor-element.elementor-element-0c0c173::before{
    content:"Hoặc";
    display: block;
    text-align: center;
    font-family: TT Commons;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
color: #494949!important;
margin-top:20px;
margin-bottom:10px;


}
.nsl-button-label-container{
    margin: 0!important;
    font-family: TT Commons!important;
font-size: 16px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.01em;
text-align: center;

}
.nsl-button {
    border-radius:8px!important;
}
.elementor-6628 .elementor-element.elementor-element-0c0c173 h2{
    display: none
}
@media(max-width:767px){
    .elementor-6628 .elementor-element.elementor-element-0c0c173 .nsl-container-buttons{
        grid-template-columns:repeat(1,1fr)!important;
        gap:12px;
    }
    .elementor-6628 .elementor-element.elementor-element-0c0c173 .nsl-button-label-container{
        flex:none!important;
    }
    .elementor-6628 .elementor-element.elementor-element-0c0c173 .nsl-button {
        justify-content:center;
    }
    .nsl-button-label-container{
        font-weight:400;
    }
}
@media(min-width:1024px){
    .elementor-6628 .elementor-element.elementor-element-0c0c173 .nsl-button-svg-container{
        position:relative;
        left:10px;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1d028a2 */.elementor-6628 .elementor-element.elementor-element-1d028a2 .elementor-widget-wrap {
    padding: 0!important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-87d4467 */.elementor-6628 .elementor-element.elementor-element-87d4467{
    background: #00000033;

}
@media(max-width:767px){
    .elementor-6628 .elementor-element.elementor-element-87d4467{
        min-height:437px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a4fbc0a */.elementor-6628 .elementor-element.elementor-element-a4fbc0a .elementor-container{
    gap:32px
}/* End custom CSS */
/* Start custom CSS */.elementor-element-41c7ecd,
.elementor-element-5f95fd7,
.elementor-element-e39c1e4,
.elementor-element-73347ad ,
.elementor-element-a142c39 ,
.elementor-element-2b87a94,
.elementor-element-b7ab1e8,
.elementor-element-9952940 {
    
    display:none    
}




.elementor-element-a099065 {
    margin-top:-170px!important;
}/* End custom CSS */