.elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-link-wrapper, 
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-custom-grid .ecs-post-loop,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor, 
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-inner, 
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap, 
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-section-wrap,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor > .elementor-section,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor > .e-container,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .ecs-link-wrapper > .elementor > .e-container,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .ecs-link-wrapper > .elementor > .elementor-section,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-link-wrapper > .has-post-thumbnail, .ecs-link-wrapper > .has-post-thumbnail > .elementor-section,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .has-post-thumbnail, .ecs-post-loop > .has-post-thumbnail > .elementor-section,
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap .elementor-top-section,  
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-section-wrap .elementor-top-section, 
            .elementor-3177 .elementor-element.elementor-element-74f6284 .ecs-post-loop > .elementor .elementor-container{height:100%;}.elementor-3177 .elementor-element.elementor-element-74f6284 .elementor-post{height:auto;}.elementor-3177 .elementor-element.elementor-element-74f6284{--e-posts-slides-to-show:1;--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-3177 .elementor-element.elementor-element-74f6284 .swiper-container{width:calc(100% - 0px);}.elementor-3177 .elementor-element.elementor-element-74f6284 .swiper-pagination-bullet{width:10px;height:10px;background:#FFFFFF;}.elementor-3177 .elementor-element.elementor-element-74f6284 > .elementor-widget-container{margin:0px 0px -26px 0px;}/* Start custom CSS for posts, class: .elementor-element-74f6284 */.elementor-3177 .elementor-element.elementor-element-74f6284 .swiper-pagination-bullet{
    background-color: #ffffff !important;
    border: solid 2px #ffffff
    ;
    opacity: 1 !important;
}
.elementor-3177 .elementor-element.elementor-element-74f6284 .swiper-pagination-bullet-active{
    background-color: var(--e-global-color-secondary) !important;
}
.elementor-3177 .elementor-element.elementor-element-74f6284 .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: -35px;
}/* End custom CSS */