.elementor-4266 .elementor-element.elementor-element-9b2812d{overflow:hidden;}.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a:hover,
					.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a:hover,
					.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-primary );}.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown .elementor-item, .elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"TT Commons", Sans-serif;font-size:16px;font-weight:500;text-transform:uppercase;}.elementor-4266 .elementor-element.elementor-element-3bf89c7 .elementor-nav-menu--dropdown a{padding-left:8px;padding-right:8px;padding-top:12px;padding-bottom:12px;}.elementor-4266 .elementor-element.elementor-element-3bf89c7 > .elementor-widget-container{margin:40px 0px 0px 0px;}.elementor-4266 .elementor-element.elementor-element-fc47e28 .elementor-heading-title{font-family:"TT Commons", Sans-serif;font-size:10px;font-weight:400;line-height:12px;}.elementor-4266 .elementor-element.elementor-element-46ca34b{--e-icon-list-icon-size:14px;}.elementor-4266 .elementor-element.elementor-element-e55e4fd .elementor-heading-title{color:#00000078;font-family:"TT Commons", Sans-serif;font-weight:400;}#elementor-popup-modal-4266 .dialog-message{width:75vw;height:100vh;align-items:flex-start;}#elementor-popup-modal-4266{justify-content:flex-end;align-items:flex-start;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-4266 .dialog-close-button{display:flex;}#elementor-popup-modal-4266 .dialog-widget-content{animation-duration:0.6s;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}/* Start custom CSS for icon-list, class: .elementor-element-46ca34b */.elementor-4266 .elementor-element.elementor-element-46ca34b{
    margin-top:auto;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e55e4fd */.elementor-4266 .elementor-element.elementor-element-e55e4fd .elementor-widget-container{
   width:120%!important;
   margin-left:-20px!important;
   border-top:1px solid #d9d9d9!important;
   padding-top:7px;
   padding-bottom:10px;
}
.elementor-4266 .elementor-element.elementor-element-e55e4fd h5{
    text-align: center;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ac3fb35 */.elementor-4266 .elementor-element.elementor-element-ac3fb35 .elementor-widget-wrap{
    padding: 0
}
.elementor-4266 .elementor-element.elementor-element-ac3fb35{
    margin-bottom:-10px!important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-a20f91a */.elementor-4266 .elementor-element.elementor-element-a20f91a{
    height:100vh;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-9b2812d */.elementor-4266 .elementor-element.elementor-element-9b2812d{
    position:relative;
}
.elementor-4266 .elementor-element.elementor-element-9b2812d .elementor-widget-wrap{
    align-content: space-between
}/* End custom CSS */