.elementor-654 .elementor-element.elementor-element-0e9d8f5.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-654 .elementor-element.elementor-element-0e9d8f5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-654 .elementor-element.elementor-element-1217307 img{width:100%;height:350px;object-fit:cover;}.elementor-654 .elementor-element.elementor-element-1217307 > .elementor-widget-container{margin:0px 0px 8px 0px;}.ee-tooltip.ee-tooltip-1217307.to--top,
							 .ee-tooltip.ee-tooltip-1217307.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-1217307.to--left,
							 .ee-tooltip.ee-tooltip-1217307.to--right{margin-top:0px;}.elementor-654 .elementor-element.elementor-element-28e7f9a .elementor-heading-title{color:#010101;font-family:"Inter", Sans-serif;font-size:16px;font-weight:500;text-transform:uppercase;line-height:1.4em;}.elementor-654 .elementor-element.elementor-element-1f4b480 .elementor-heading-title{color:#000000;font-family:"Inter", Sans-serif;font-size:20px;font-weight:700;text-transform:uppercase;line-height:1.5em;}.elementor-654 .elementor-element.elementor-element-04f5a14 .elementor-star-rating{font-size:12px;}body:not(.rtl) .elementor-654 .elementor-element.elementor-element-04f5a14 .elementor-star-rating i:not(:last-of-type){margin-right:4px;}body.rtl .elementor-654 .elementor-element.elementor-element-04f5a14 .elementor-star-rating i:not(:last-of-type){margin-left:4px;}.elementor-654 .elementor-element.elementor-element-04f5a14 .elementor-star-rating i:before{color:var( --e-global-color-31c159d );}.elementor-654 .elementor-element.elementor-element-9f4a8ac{text-align:right;}.elementor-654 .elementor-element.elementor-element-9f4a8ac .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:24px;font-weight:600;line-height:1.2em;}.elementor-654 .elementor-element.elementor-element-9e82052 .elementor-button{font-family:"TT Commons", Sans-serif;font-size:30px;font-weight:500;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;background-color:#00000000;border-style:solid;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;padding:16px 23px 16px 23px;}.elementor-654 .elementor-element.elementor-element-9e82052 > .elementor-widget-container{margin:8px 0px 0px 0px;background-color:#000000;background-image:url("https://men.ologybynature.com/wp-content/uploads/2022/08/Group-1181831.png");background-position:top right;background-repeat:no-repeat;background-size:contain;}.elementor-654 .elementor-element.elementor-element-9e82052.bdt-background-overlay-yes > .elementor-widget-container:before{transition:background 0.3s;}/* Start custom CSS for heading, class: .elementor-element-28e7f9a */.elementor-654 .elementor-element.elementor-element-28e7f9a{
    opacity: 0.6;
    pointer-events: none;
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-1f4b480 */.elementor-654 .elementor-element.elementor-element-1f4b480{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */