.elementor-7124 .elementor-element.elementor-element-3113f30{text-align:center;}.elementor-7124 .elementor-element.elementor-element-3113f30 .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:42px;font-weight:500;line-height:50px;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-7124 .elementor-element.elementor-element-3113f30 .elementor-heading-title{font-size:28px;line-height:33px;}}/* Start custom CSS for heading, class: .elementor-element-3113f30 */@media(max-width:767px){
    .elementor-7124 .elementor-element.elementor-element-3113f30 h2{
        font-size:28px!important;
        line-height:33px;
    }
    
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-f7b525c */.elementor-7124 .elementor-element.elementor-element-f7b525c input[type=submit]{
    background: #046D2F;
    border-radius:8px;
    width:150px!important;
    padding:0;
    height:55px;
    font-size:0px!important;
     background-image:url(/wp-content/uploads/2022/10/Tao-mat-khau-moi-1.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 123px;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c p.form-submit{
   
    
   
}
.elementor-7124 .elementor-element.elementor-element-f7b525c p{
    font-size:0;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c p:first-child::before{
    content:"Vui lòng nhập địa chỉ Email hoặc số điện thoại đã đăng ký bạn sẽ nhận được một liên kết tạo mật khẩu mới qua Email";
    font-size:20px;
    display: block;
    text-align: center;
    line-height: 1.5
}
.elementor-7124 .elementor-element.elementor-element-f7b525c label{
    display: none
}
.elementor-7124 .elementor-element.elementor-element-f7b525c legend{
    display: none;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c input[type=text]{
    width:300px;
    height:55px;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c .som-password-sent-message{
    background: #046D2F!important;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c ul{
    max-width:100%!important;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c li{
    display: flex;
    justify-content: center;
}
.elementor-7124 .elementor-element.elementor-element-f7b525c p.form-submit{
    display: flex;
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5d0d772 */.elementor-7124 .elementor-element.elementor-element-5d0d772 .elementor-column>.elementor-element-populated{
    padding: 0!important
    
}/* End custom CSS */
/* Start custom CSS */.elementor-element-41c7ecd,
.elementor-element-5f95fd7,
.elementor-element-e39c1e4,
.elementor-element-73347ad ,
.elementor-element-a142c39 ,
.elementor-element-2b87a94,
.elementor-element-b7ab1e8,
.elementor-element-9952940 {
    
    display:none    
}/* End custom CSS */