.elementor-169 .elementor-element.elementor-element-94a6a99 .elementor-repeater-item-76d3a9b .swiper-slide-bg{background-color:#833ca3;}.elementor-169 .elementor-element.elementor-element-94a6a99 .elementor-repeater-item-54ea516 .swiper-slide-bg{background-color:#4054b2;}.elementor-169 .elementor-element.elementor-element-94a6a99 .elementor-repeater-item-9382376 .swiper-slide-bg{background-color:#1abc9c;}.elementor-169 .elementor-element.elementor-element-94a6a99 .swiper-slide{height:400px;transition-duration:calc(5000ms*1.2);}.elementor-169 .elementor-element.elementor-element-94a6a99 .swiper-slide-contents{max-width:66%;}.elementor-169 .elementor-element.elementor-element-94a6a99 .swiper-slide-inner{text-align:center;}.elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-link-wrapper, 
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-custom-grid .ecs-post-loop,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor, 
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-inner, 
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap, 
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-section-wrap,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor > .elementor-section,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor > .e-container,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .ecs-link-wrapper > .elementor > .e-container,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .ecs-link-wrapper > .elementor > .elementor-section,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-link-wrapper > .has-post-thumbnail, .ecs-link-wrapper > .has-post-thumbnail > .elementor-section,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .has-post-thumbnail, .ecs-post-loop > .has-post-thumbnail > .elementor-section,
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap .elementor-top-section,  
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-section-wrap .elementor-top-section, 
            .elementor-169 .elementor-element.elementor-element-afc5f9f .ecs-post-loop > .elementor .elementor-container{height:auto;}.elementor-169 .elementor-element.elementor-element-afc5f9f .elementor-post{height:auto;}.elementor-169 .elementor-element.elementor-element-afc5f9f{--grid-column-gap:30px;--grid-row-gap:35px;}