.elementor-2288 .elementor-element.elementor-element-993dba3 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:16px;}.elementor-2288 .elementor-element.elementor-element-1b8be7c img{width:100%;height:340px;object-fit:cover;}.ee-tooltip.ee-tooltip-1b8be7c.to--top,
							 .ee-tooltip.ee-tooltip-1b8be7c.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-1b8be7c.to--left,
							 .ee-tooltip.ee-tooltip-1b8be7c.to--right{margin-top:0px;}.elementor-2288 .elementor-element.elementor-element-2b0eb55 .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:500;text-transform:uppercase;line-height:1.3em;}.elementor-2288 .elementor-element.elementor-element-57f277c{--e-icon-list-icon-size:24px;}.elementor-2288 .elementor-element.elementor-element-57f277c .elementor-icon-list-text{padding-left:24px;}.elementor-2288 .elementor-element.elementor-element-57f277c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-2288 .elementor-element.elementor-element-57f277c .elementor-icon-list-item > a{font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:400;line-height:1.3em;}.elementor-2288 .elementor-element.elementor-element-160b843 .elementor-widget-container{font-family:"TT Commons", Sans-serif;font-size:18px;font-weight:400;line-height:1.6em;}.elementor-2288 .elementor-element.elementor-element-6c57763 .elementor-button{font-family:"TT Commons", Sans-serif;font-size:19px;font-weight:600;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;background-color:#000000;border-radius:0px 0px 0px 0px;padding:16px 23px 16px 23px;}.elementor-2288 .elementor-element.elementor-element-6c57763 .elementor-button:hover, .elementor-2288 .elementor-element.elementor-element-6c57763 .elementor-button:focus{color:var( --e-global-color-secondary );background-color:#FFFFFF;}.elementor-2288 .elementor-element.elementor-element-6c57763 .elementor-button:hover svg, .elementor-2288 .elementor-element.elementor-element-6c57763 .elementor-button:focus svg{fill:var( --e-global-color-secondary );}/* Start custom CSS for theme-post-title, class: .elementor-element-2b0eb55 */.elementor-2288 .elementor-element.elementor-element-2b0eb55{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
	height: 3.8em;
}/* End custom CSS */
/* Start custom CSS for theme-post-excerpt, class: .elementor-element-160b843 */.elementor-2288 .elementor-element.elementor-element-160b843 .elementor-widget-container{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */