.elementor-2276 .elementor-element.elementor-element-a7960d1:not(.elementor-motion-effects-element-type-background), .elementor-2276 .elementor-element.elementor-element-a7960d1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F2F2;}.elementor-2276 .elementor-element.elementor-element-a7960d1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2276 .elementor-element.elementor-element-a7960d1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2276 .elementor-element.elementor-element-9ef0344 img{width:100%;height:496px;object-fit:cover;}.ee-tooltip.ee-tooltip-9ef0344.to--top,
							 .ee-tooltip.ee-tooltip-9ef0344.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-9ef0344.to--left,
							 .ee-tooltip.ee-tooltip-9ef0344.to--right{margin-top:0px;}.elementor-2276 .elementor-element.elementor-element-ab6a3ee > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:16px;}.elementor-2276 .elementor-element.elementor-element-ab6a3ee > .elementor-element-populated{padding:30px 30px 30px 30px;}.elementor-2276 .elementor-element.elementor-element-5a16668 .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:500;text-transform:uppercase;line-height:1.4em;}.elementor-2276 .elementor-element.elementor-element-d037aa8{--e-icon-list-icon-size:24px;}.elementor-2276 .elementor-element.elementor-element-d037aa8 .elementor-icon-list-text{padding-left:24px;}.elementor-2276 .elementor-element.elementor-element-d037aa8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-2276 .elementor-element.elementor-element-d037aa8 .elementor-icon-list-item > a{font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:400;}.elementor-2276 .elementor-element.elementor-element-3f6dd0e .elementor-widget-container{font-family:"TT Commons", Sans-serif;font-size:18px;font-weight:400;line-height:1.6em;}.elementor-2276 .elementor-element.elementor-element-7124fb8 .elementor-button{font-family:"TT Commons", Sans-serif;font-size:19px;font-weight:600;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;background-color:#000000;border-radius:0px 0px 0px 0px;padding:16px 23px 16px 23px;}.elementor-2276 .elementor-element.elementor-element-7124fb8 .elementor-button:hover, .elementor-2276 .elementor-element.elementor-element-7124fb8 .elementor-button:focus{color:var( --e-global-color-secondary );background-color:#FFFFFF;}.elementor-2276 .elementor-element.elementor-element-7124fb8 .elementor-button:hover svg, .elementor-2276 .elementor-element.elementor-element-7124fb8 .elementor-button:focus svg{fill:var( --e-global-color-secondary );}@media(max-width:767px){.elementor-2276 .elementor-element.elementor-element-ab6a3ee > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:16px;}}@media(min-width:768px){.elementor-2276 .elementor-element.elementor-element-78ac5a5{width:65%;}.elementor-2276 .elementor-element.elementor-element-ab6a3ee{width:35%;}}/* Start custom CSS for theme-post-title, class: .elementor-element-5a16668 */.elementor-2276 .elementor-element.elementor-element-5a16668{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */
/* Start custom CSS for theme-post-excerpt, class: .elementor-element-3f6dd0e */.elementor-2276 .elementor-element.elementor-element-3f6dd0e .elementor-widget-container{
    display: -webkit-box;
	-webkit-line-clamp: 4 !important;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */