.elementor-1533 .elementor-element.elementor-element-c4f75f4{padding:25% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-1533 .elementor-element.elementor-element-dd10676.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-1533 .elementor-element.elementor-element-dd10676.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-1533 .elementor-element.elementor-element-dd10676 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-1533 .elementor-element.elementor-element-7ec5b03 img{width:100%;height:365px;object-fit:contain;}.ee-tooltip.ee-tooltip-7ec5b03.to--top,
							 .ee-tooltip.ee-tooltip-7ec5b03.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-7ec5b03.to--left,
							 .ee-tooltip.ee-tooltip-7ec5b03.to--right{margin-top:0px;}.elementor-1533 .elementor-element.elementor-element-d3de429{text-align:center;}.elementor-1533 .elementor-element.elementor-element-d3de429 .elementor-heading-title{color:#3C3C3B;font-family:"TT Commons", Sans-serif;font-size:14px;font-weight:500;text-transform:uppercase;line-height:1.4em;}.elementor-1533 .elementor-element.elementor-element-a597b86{text-align:center;}.elementor-1533 .elementor-element.elementor-element-a597b86 .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;line-height:1.3em;}.elementor-1533 .elementor-element.elementor-element-bf11d19 .elementor-star-rating{font-size:12px;}body:not(.rtl) .elementor-1533 .elementor-element.elementor-element-bf11d19 .elementor-star-rating i:not(:last-of-type){margin-right:4px;}body.rtl .elementor-1533 .elementor-element.elementor-element-bf11d19 .elementor-star-rating i:not(:last-of-type){margin-left:4px;}.elementor-1533 .elementor-element.elementor-element-bf11d19 .elementor-star-rating i:before{color:var( --e-global-color-31c159d );}.elementor-1533 .elementor-element.elementor-element-bf11d19{width:50%;max-width:50%;}.elementor-1533 .elementor-element.elementor-element-ebec21e{text-align:right;width:50%;max-width:50%;}.elementor-1533 .elementor-element.elementor-element-ebec21e .elementor-heading-title{color:#000000;font-family:"TT Commons", Sans-serif;font-size:20px;font-weight:600;line-height:1.2em;}.elementor-1533 .elementor-element.elementor-element-50aa060 .elementor-button{font-family:"TT Commons", Sans-serif;font-size:30px;font-weight:500;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;background-color:#00000000;border-radius:0px 0px 0px 0px;padding:16px 23px 16px 23px;}.elementor-1533 .elementor-element.elementor-element-50aa060 > .elementor-widget-container{margin:8px 0px 0px 0px;background-color:#000000;background-image:url("https://men.ologybynature.com/wp-content/uploads/2022/08/Group-1181831.png");background-position:top right;background-repeat:no-repeat;background-size:contain;}.elementor-1533 .elementor-element.elementor-element-50aa060.bdt-background-overlay-yes > .elementor-widget-container:before{transition:background 0.3s;}/* Start custom CSS for heading, class: .elementor-element-d3de429 */.elementor-1533 .elementor-element.elementor-element-d3de429{
    opacity: 0.6;
    pointer-events: none;
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-a597b86 */.elementor-1533 .elementor-element.elementor-element-a597b86{
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-50aa060 */.elementor-1533 .elementor-element.elementor-element-50aa060.button-p3{
    transform: scaleX(0);
}/* End custom CSS */